<option value="N/A">N/A</option>
<option value="N">Danh từ</option>
<option value="EXP">Cụm từ</option>
<option value="N-PREP">Danh từ hoặc giới từ</option>
<option value="PREP">Giới từ</option>
<option value="ADJ">Tính từ</option>
<option value="EXC">Thán từ</option>
<option value="ADV">Trạng từ</option>
<option value="VERB-1">Động từ nhóm I</option>
<option value="VERB-2">Động từ nhóm II</option>
<option value="VERB-3">Động từ nhóm III</option>