<nav aria-label="breadcrumb" class="pull-left">
  <ol class="breadcrumb" id="wrapper_breadcrumb">
    <li class="breadcrumb-item">
      <a href="<%= get_base_url_admin() %>/dashboard">
        <i class="fa fa-home" aria-hidden="true"></i>
      </a>
    </li>
    <li class="breadcrumb-item active"><% if(page_title) { %><%= page_title %><% } %></li>
  </ol>
</nav> 
<div class="clearfix"></div>   
<hr style="margin-top: 10px;">