<!-- script -->
<script src="frontend/js/jquery.min.js"></script>
<script src="frontend/js/bootstrap.min.js"></script>
<script src="frontend/js/jPushMenu.js"></script>
<script>
    jQuery(document).ready(function ($) {
        $('.toggle-menu').jPushMenu();
    });
</script>
<script src="frontend/js/scripts.js"></script>
<!-- end script -->
</body>

</html>