  <!-- script -->
  <script src="frontend/js/jquery-git.js"></script>
  <script src="frontend/js/jquery.min.js"></script>
  <script src="frontend/js/bootstrap.min.js"></script>
  <script src="frontend/js/canvasdraw.js"></script>
  <script src="frontend/js/scripts.js"></script>
  <!-- end script -->
</body>

</html>