<footer></footer>
    <!-- footer --> 
</div>
<!-- end primary content -->
<script type="text/javascript" src="<%= get_base_url_admin() %>/js/sails.io.js"></script> 
<script src="<%= get_base_url_admin() %>/js/bootstrap.min.js"></script> 
<script src="<%= get_base_url_admin() %>/js/scripts.js"></script> 
<script>
    io.sails.url = 'http://127.0.0.1:1337/';
    $(document).ready(function () {
        io.socket.on('server_count_approvals', function (count_approvals) {
            $('#count_approvals').html(count_approvals);
            // alert(count_approvals);
        });
   });
</script>
<!-- end script -->
</body>
</html>

