<%- partial('../inc/functions') %>
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- end meta -->
    <!-- style -->
    <link rel="stylesheet" href="frontend/css/reset.css">
    <link rel="stylesheet" href="frontend/css/bootstrap.min.css">
    <link rel="stylesheet" href="frontend/css/font-awesome.min.css">
    <link rel="stylesheet" href="frontend/css/jPushMenu.css">
    <link rel="stylesheet" href="frontend/css/master.css">
    <link rel="stylesheet" href="frontend/css/detail.css">
    <link rel="shortcut icon" href="frontend/images/favicon.ico" type="image/x-icon">
    <!-- end sttyle -->
    <title><% if(page_title!=null) { %><%= page_title %><% } %></title>
</head>

<body>