<%- partial('./layouts/header') %>
    <div id="wrapper">
        <%- partial('./layouts/sidebar') %>
            <div id="wrapper_primary">
                <!-- content -->
                <div class="rows">
                    <%- partial('./layouts/breadcrumb') %>
                </div>
                <div class="rows">
                   config
                </div>
                <!-- end content -->
            </div>
     <section></section>
            <!-- end section -->
<%- partial('./layouts/footer') %>